@model UserViewModel

<style>

    #block{
        display:block;
        margin:5px;
        width:300px;
        border:2px solid gray;

    }

</style>

    <form method="post" action="/Home/Index">
    <input id="block"  type="text" name="username" value=@Model.Username/>
    <input id="block" type="password" name="password" value=@Model.Password />
    <input type="checkbox"  name="remember" value="" /> <span>Beni hatırla</span>
    <input id="block" type="submit" />
    </form>

